<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="{{ site.data.clients.archdaily }}">
                        <img src="img/logos/archdaily.png" class="img-responsive img-centered" loading="lazy" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="{{ site.data.clients.github_pages }}">
                        <img src="img/logos/github_pages.jpg" class="img-responsive img-centered" loading="lazy" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="{{ site.data.clients.prefabaus }}">
                        <img src="img/logos/prefabaus.png" class="img-responsive img-centered" loading="lazy" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="{{ site.data.clients.abcbaus }}">
                        <img src="img/logos/abcbaus.png" class="img-responsive img-centered" loading="lazy" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>