<header class="hero-home">
  <div class="hero-background">
    <div class="intro-text-container">
      <div class="intro-text">
        <div class="intro-heading">Custom Granny Flats in Brisbane </div>
        <div class="intro-heading sub-line">Built Faster. Designed Smarter.</div>
        <div class="intro-subheading">From design to completion in as little as 3 months — fully compliant with Australian standards.</div>
        <a href="/products/" class="page-scroll btn btn-xl">Explore our designs</a>
      </div>
    </div>
  </div>
</header>
