<header class="hero-page-wrapper">
  <div class="hero-page" style="background-image: url('{{ page.header_image | default: "/img/site/hero-page-bg.jpg" }}');">
    
    {% if page.hero_title or page.hero_subtitle or page.title %}
    <div class="page-hero-text-container">
      <div class="page-hero-text">

        {% if page.hero_subtitle %}
        <div class="page-hero-subtitle">
          {{ page.hero_subtitle }}
        </div>
        {% endif %}

        <h1 class="page-hero-title">
          {{ page.hero_title | default: page.title }}
        </h1>

        {% if page.hero_lead %}
        <p class="page-hero-lead">
          {{ page.hero_lead }}
        </p>
        {% endif %}

        {% if page.hero_detail %}
        <p class="page-hero-detail">
          {{ page.hero_detail }}
        </p>
        {% endif %}

      </div>
    </div>
    {% endif %}

  </div>
</header>
