<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a> --> <!--把网站名称换成logo-->
            <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
                <img src="/img/about/logo-title.png" alt="AMGCube Logo" id="nav-logo" width="250" height="65">
            </a>
            
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
                <li><a href="{{ "/can-i-build/" | prepend: site.baseurl }}">Can I Build?</a></li>
                <li><a href="{{ "/guides/" | prepend: site.baseurl }}">Guides</a></li>
                <li><a href="{{ "/projects/" | prepend: site.baseurl }}">Projects</a></li>
                <li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
                <li><a class="nav-cta" href="{{ "/contact/" | prepend: site.baseurl }}">Talk to Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener("scroll", function () {
            var navbar = document.querySelector(".navbar-default");
            if (window.scrollY > 50) {
                navbar.classList.add("navbar-shrink");
            } else {
                navbar.classList.remove("navbar-shrink");
            }
        });
    });
</script>
