<!-- Products Section -->


<section class="bg-light-gray">
    <!-- 独立的大标题 -->
    <div class="section-title">
        <h2>The Future of Housing: <br>Better, Faster, More Affordable</h2>
    </div>

    <!-- 卡片 1 - 允许跳转 -->
    <div class="products-header">
        <h4><a href="/articles/housingcrisis">The housing crisis won’t fix itself</a></h4>
        <p>Traditional home construction is slow, costly, and inefficient. 
            In Australia, the housing crisis continues to push affordability out of reach. It's time for a change.</p>
    </div>

    <!-- 卡片 2 - 只显示文本，不跳转 -->
    <div class="products-header">
        <h4>Turning Residential Space into a Product</h4>
        <p>By shifting homebuilding from on-site construction to a product-based manufacturing model, 
            we unlock higher quality, faster delivery, and more cost-effective solutions.</p>
    </div>

    <!-- 卡片 3 - 跳转 -->
    <div class="products-header">
        <h4><a href="/about/">AMGCube: Pioneering the Future of Housing</a></h4>
        <p>AMGCube: Pioneering the Future of Housing.At AMGCube, we bring modular and prefabricated solutions to revolutionize the industry. Our mission: High-quality, affordable, and sustainable housing for all.</p>
    </div>

</section>
