<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Satisfaction stems from our continuous enhancement of capabilities and relentless technological innovation.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prefabricated Homes</h4>
                    <p class="text-muted" style="text-align: left;">We specialize in the research, development, and production of modular prefabricated building solutions. Our products offer superior quality, faster construction efficiency, and more affordable pricing.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Human-Centered Design</h4>
                    <p class="text-muted" style="text-align: left;">Tailored to your land, family needs, and lifestyle preferences, we use our expertise and customizable options to bring your vision to life as closely as possible.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">One-stop Delivery</h4>
                    <p class="text-muted" style="text-align: left;">Leave every aspect of your home construction to us. From requirements gathering, design, approvals, procurement, construction, to final delivery, we take care of everything. All you need to do is prepare the budget and wait just 2–3 months.</p>
                </div>
            </div>
        </div>
    </section>