/* Hero Section for Secondary Pages */
.hero-page {
    background-image: url('/img/hero-page-bg.jpg'); /* 确保路径正确 */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh; /* 调整合适的高度 */
    min-height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}



/* 二级页面的排版优化 */
.products-header {
    text-align: left;  /* 保持标题左对齐 */
    max-width: 1000px;   /* 适应网页内容 */
    margin: 0 auto;
    padding: 5px 0;
    margin-bottom: 0px;  /* 调整段落之间的间距，使页面更紧凑 */
}

.products-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.products-header h4 {
    font-size: 1.2rem;  /* 调整字体大小 */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.products-header-p {
    text-align: left;
    color: #333;
    line-height: 1.8;
    max-width: 1000px;
    margin: 0 auto 15px;
}

/* 三级页面的排版优化 */

/* 副标题 */
.post-subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* 灰色分割线 */
.post-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

/* 描述部分 */
.post-description-wrapper {
    display: flex; /* 让装饰条和文本等高 */
    align-items: stretch; /* 让内容和装饰条高度匹配 */
}

.post-description {
    font-size: 1.5rem;
    color: #444;
    line-height: 1.8;
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 25px;
    flex: 1; /* 让文本区域自动填充剩余空间 */
}

.post-description-border {
    width: 5px; /* 蓝色装饰条宽度 */
    background-color: #007bff; /* 蓝色装饰条颜色 */
    margin-right: 10px; /* 控制装饰条与文本之间的间距 */
}

/* 默认导航栏透明 */
.navbar-default {
    border-color: transparent;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, padding 0.3s;
}

/* 滚动后导航栏变黑 */
.navbar-default.navbar-shrink {
    background-color: #222 !important;
    padding: 10px 0;
}

.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s;
}
