/* Hero Section for Secondary Pages */
.hero-page {
    background-image: url('/img/hero-page-bg.jpg'); /* 确保路径正确 */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh; /* 调整合适的高度 */
    min-height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}



/* 二级页面的排版优化 */
.products-header {
    text-align: left;  /* 保持标题左对齐 */
    max-width: 1000px;   /* 适应网页内容 */
    margin: 0 auto;
    padding: 5px 0;
    margin-bottom: 0px;  /* 调整段落之间的间距，使页面更紧凑 */
}

.products-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.products-header h4 {
    font-size: 1.2rem;  /* 调整字体大小 */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.products-header-p {
    text-align: left;
    color: #333;
    line-height: 1.8;
    max-width: 1000px;
    margin: 0 auto 15px;
}
