---
layout: null
title: AMGCUBE
---

<!DOCTYPE html>
<html lang="zh">
<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}

    <!-- 这里的 hero-home 仅用于首页大图 -->
    <header class="hero-home">
        {% include hero-home.html %}  
    </header>

    <!-- 其他部分不会继承 hero-home 的背景 -->
    <section id="products">
        {% include products_intro.html %}
    </section>

    <!--删除了section services代码-->

    <!--删除了section projects代码-->
    <!--删除了section Clients代码-->
 
    <!--删除了section contact me 代码-->

    {% include js.html %}
    {% include footer.html %}
</body>
</html>

