---
layout: page
---

{% if page.header_image %}
    <div class="post-header" style="background-image: url('{{ page.header_image | relative_url }}');"></div>
{% else %}
    <div class="post-header default-header"></div> <!-- 默认背景 -->
{% endif %}

<article class="container">
    <h1>{{ page.title }}</h1>
    <p class="meta">Category: {{ page.product-category }}</p>

    {% if page.features %}
        <p><strong>Features:</strong> {{ page.features }}</p>
    {% endif %}

    {% if page.description %}
        <div class="post-description-wrapper">
            <div class="post-description-border"></div>
            <div class="post-description">{{ page.description }}</div>
        </div>
    {% endif %}

    <div class="product-gallery">
        {% for img in page.images %}
            <img src="{{ site.baseurl }}/{{ img }}" class="img-responsive" alt="{{ page.title }}">
        {% endfor %}
    </div>

    {% if page.purchase_link %}
        <a href="{{ page.purchase_link }}" class="buy-now-btn">Buy Now</a>
    {% endif %}
</article>
